









/* ---------- Tablets ---------- */
@media (max-width: 1024px) {
  .layout {
    flex-direction: column;
    height: auto;
  }



  .main-content {
    flex-direction: column;
    padding-left: 0;
  }

  .center-controls {
    bottom: 10%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5rem;
  }

  #hourSlider {
    width: 150px;
  }

  .corner-icon {
    width: 55px;
    height: 55px;
  }
}
/* ---------- Móviles ---------- */
@media (max-width: 768px) {


  .center-controls {
    padding: 1rem;
    bottom: 5%;
    border-radius: 0.8rem;
  }

  #hourSlider {
    width: 120px;
    height: 5px;
  }

  .corner-icon {
    width: 40px;
    height: 40px;
  }

  .svg-container {
    height: auto;
    min-height: 250px;
  }

  .content-row {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.center-controls {
  position: absolute;
  z-index: 10011; /* válido */
}

#hourSlider {
  position: relative; /* agrega esto para que su z-index funcione */
  z-index: 10012;
}



#trafficVideo {
  opacity: .53;              /* controla transparencia */
  mix-blend-mode: multiply;  /* aplica efecto Multiply */
}